:root {
  --dark-green: #1a2c38;
  --bright-green: #00e701;
  --blue: #105eb4;
  --background: #0f212e;
  --common: #8d8d8d;
  --uncommon: #4a9219;
  --rare: #0960ad;
  --epic: #7536ae;
  --legendary: #fcca2e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
  color: white;
}

body {
  display: absolute;
  background: var(--background);
}

img {
  max-width: 100%;
}

.container {
  margin: 0 auto;
  width: 80%;
}

/* Flex Styling */
.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.gap-32 {
  gap: 16px;
}

/* Nav Style */
nav {
  padding: 12px 0px;
}

.nav-bg {
  background-color: var(--dark-green);
}

/* Misc */

/* Margin Bottoms */
.mb-32 {
  margin-bottom: 32px;
}

.mb-96 {
  margin-bottom: 96px;
}

/* Slider CSS */
.crate-container {
  position: relative;
  width: 70%;
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
}

.slider-track {
  display: flex;
  align-items: center;
  height: 100%;
}

.slider-track img {
  width: 150px;
  height: 150px;
  margin: 0 10px;
}

.marker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 2px;
  background-color: #b5b75c;
  transform: translateX(-50%);
  pointer-events: none;
}

.spin-btn {
  background-color: var(--bright-green);
  border: none;
  color: black;
  padding: 12px 48px;
  letter-spacing: 1.5px;
  font-weight: bold;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
}

.switch-btn:hover {
  background-color: rgba(0, 231, 1, 0.8);
}


.switch-btn {
  background-color: var(--bright-green);
  border: none;
  color: black;
  padding: 12px 48px;
  letter-spacing: 1.5px;
  font-weight: bold;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
}

.spin-btn:hover {
  background-color: rgba(0, 231, 1, 0.8);
}

#openCrate:disabled {
  background-color: #555;
  cursor: not-allowed;
}

#wonImage {
  display: none;
}

.full-width {
  width: 100%;
}

.mb-96 {
  margin-bottom: 96px;
}

.image-container-rarity {
  position: relative;
  display: inline-block;
}

.common-border-bottom {
  border-bottom: 8px solid var(--common);
}

.uncommon-border-bottom {
  border-bottom: 8px solid var(--uncommon);
}

.rare-border-bottom {
  border-bottom: 8px solid var(--rare);
}

.epic-border-bottom {
  border-bottom: 8px solid var(--epic);
}

.legendary-border-bottom {
  border-bottom: 8px solid var(--legendary);
}
